<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	">
	<!-- 使用基础连接池 -->
	<bean id="ds" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://127.0.0.1:3306/exam?useUnicode=true&amp;characterEncoding=UTF-8&amp;allowMultiQueries=true" />
		<property name="username" value="root" />
		<property name="password" value="987433" />
		<property name="initialSize" value="1" />
		<property name="maxActive" value="60" />
		<property name="minIdle" value="1" />
		<property name="maxIdle" value="60" />
		<property name="removeAbandoned" value="true" />
		<property name="removeAbandonedTimeout" value="120" />
		<property name="logAbandoned" value="true" />
		<property name="maxWait" value="2000" />
		<property name="validationQuery" value="select 1" />
	</bean>
	<!-- 事务管理器 -->
	<bean id="transManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="ds"></property>
	</bean>
	<!-- spring集成mybaits配置 -->
	<bean id="ssf" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="ds"></property>
	</bean>
	<!-- 扫描sql映射,并自动byType注入dao -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactoryBeanName" value="ssf"></property>
		<property name="basePackage" value="dao"></property>
	</bean>
	<!-- 启用元注解事务代理 -->
	<tx:annotation-driven transaction-manager="transManager" />
	<!-- 扫描biz -->
	<context:component-scan base-package="biz" use-default-filters="true"/>
	<!-- 扫描action -->
	<context:component-scan base-package="action"
		use-default-filters="true" />
	<!-- 默认servlet处理静态资源 -->
	<mvc:default-servlet-handler />
	<!-- 启动元注解方式处理请求与响应,并设置fastjson为序列化/反序列化的消息处理器 -->
	<mvc:annotation-driven>
		<mvc:message-converters register-defaults="true">
			<bean
				class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>application/json;charset=UTF-8</value>
					</list>
				</property>
				<property name="features">
					<list>
						<value>WriteMapNullValue</value>
						<value>WriteNullNumberAsZero</value>
						<value>WriteNullStringAsEmpty</value>
						<value>WriteDateUseDateFormat</value>
						<value>WriteEnumUsingToString</value>
						<value>QuoteFieldNames</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

</beans>